.navBar {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.navBar:hover {
  text-decoration: underline;
}

.bottom-navBar {
  background-color: #000;
  color: #fff;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Adjustments to the content to avoid overlap with the navbar */
.container-wrapper {
  display: flex;
  align-items: flex-start; /* Align the title with the top of the first box */
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin: 0; /* Remove any default margins */
  padding-right: 10px; /* Optional: Add some space between the title and the first box */
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 10px; /* Space between boxes */
  margin-left: -10px; /* Align container boxes with the title */
}

.box {
  flex: 1 1 18%; /* Keep the width at 18% to fit 5 boxes on one line */
  max-width: 18%;
  text-align: center;
  padding: 8px;
  margin: 8px;
  border: 2px solid #ccc;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}


.box .navBar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f7f2f2;
  color: #000;
  text-align: center;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
}

.box p {
  font-weight: bold;
}
